<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>powerup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,493}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,493}}</string>
                <key>sourceSize</key>
                <string>{600,493}</string>
            </dict>
            <key>powerup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{287,522}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{287,522}}</string>
                <key>sourceSize</key>
                <string>{289,566}</string>
            </dict>
            <key>powerup3.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,497},{456,594}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,594}}</string>
                <key>sourceSize</key>
                <string>{456,594}</string>
            </dict>
            <key>powerup4.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{353,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,341}}</string>
                <key>sourceSize</key>
                <string>{353,341}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>powerup.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d51b0d237cd2fd3b0d50994ea1763e0$</string>
            <key>textureFileName</key>
            <string>powerup.png</string>
        </dict>
    </dict>
</plist>
