<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{61,62}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{61,62}}</string>
                <key>sourceSize</key>
                <string>{85,84}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{60,45}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{60,45}}</string>
                <key>sourceSize</key>
                <string>{86,77}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{53,62}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{53,62}}</string>
                <key>sourceSize</key>
                <string>{79,88}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,49},{57,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{57,59}}</string>
                <key>sourceSize</key>
                <string>{85,69}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,61}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{62,61}}</string>
                <key>sourceSize</key>
                <string>{88,93}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,108},{51,59}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{51,59}}</string>
                <key>sourceSize</key>
                <string>{69,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>seashells.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd5dcd9dadb836bdcdd8463d957bd3b0:79a323a55d823596954c0d39f7751f2f:b8f1e45fd29c7390af7954496f6f48c8$</string>
            <key>textureFileName</key>
            <string>seashells.png</string>
        </dict>
    </dict>
</plist>
